sudo: false
language: python

matrix:
  include:
    - python: 3.6
      env: TOXENV=check

    - python: 3.4
      env: TOXENV=py34-django111
    - python: 3.4
      env: TOXENV=py34-django20

    - python: 3.5
      env: TOXENV=py35-django111
    - python: 3.5
      env: TOXENV=py35-django20
    - python: 3.5
      env: TOXENV=py35-django21

    - python: 3.6
      env: TOXENV=py36-django111
    - python: 3.6
      env: TOXENV=py36-django20
    - python: 3.6
      env: TOXENV=py36-django21

install: pip install tox
script: tox
env:
  global:
    - POST_COV=codecov -e TOXENV